* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {backgorund-color: #FFFFFF;}

h1 {
    color: #E9E05F;
    font-size: 72px;
    padding: 120px;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    color: white;
    float: left;
    padding: 9px;
    letter-spacing: 4px;
}

p {
    font-size: 125%;

}

li {
    float: right;
    display: block;
    padding: 0px 16px;
    color: white;
    letter-spacing: 2px;
}

.header {
    background-color: #707070;
    height: 50px;
}

.blackbox {
    background-color: #000000;
    height: 377px;

}

.colors {
    margin: 0;
    background-color:#FFFFFF;
    height: 300px;

}
    
.content {
    float: left;
    height: 35%;
    width: 40%;
    margin: 5%;
}

.footer {
    background-color: #3A3A56;
    float: left;
    height: 150px;
    width: 100%;

}


#navbar {
   list-style-type: none;
   margin: 0;
   padding: 17px;
   overflow: hidden;
   background-color: none;
}

.pastels {
    margin: 4%;
    float: left;
    border-radius: 25px;
    height: 60%;
}

#green1 {
    background-color: #A4FFD7;
    width: 25%;

}

#orange1 {
    background-color: #FFC36C;
    width: 40%;
}

#empire {
    max-width: 66%;
    height: auto;
    margin: 0 auto;
}